[Unit]
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/iptables-rules-apply
ExecStop=/usr/local/bin/iptables-rules-delete

[Install]
WantedBy=multi-user.target